<form [formGroup]="multistepForm" class="form" (ngSubmit)="submit()">
  <div class="container">
    <div class="step1" *ngIf="step == 1" formGroupName="signUp">
      <div>
        <h4 class="step">Paso {{step}} de 3</h4>
      </div>
      <div class="input">
        <label for="inputName" class="label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          formControlName="name"
          placeholder="Ingresa tu nombre"
        />
      </div>
      <div class="input">
        <label for="inputLastName" class="label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="inputLastName"
          placeholder="Ingresa tu apellido"
          formControlName="lastName"
        />
      </div>
      <div class="input">
        <label for="inputEmail" class="label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="Ingresa tu dirección de correo"
          formControlName="email"
        />
      </div>
      <div class="input">
        <label for="inputPassword" class="label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
        />
      </div>
    </div>

    <div class="step2" *ngIf="step == 2" formGroupName="personalData">
      <div>
        <h4 class="step">Paso {{step}} de 3</h4>
      </div>
      <div class="input">
        <label for="inputDepartamento" class="label">Departamento</label>
        <select
          class="form-select form-control"
          aria-label="Default select example"
          placeholder="Elige tu departamento"
          formControlName="departamento"
        >
          <option
            *ngFor="let departamento of departamentos"
            
          >
            {{ departamento }}
          </option>
        </select>
      </div>
      <div class="input">
        <label for="inputCity" class="label">Ciudad</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="Ingresa tu ciudad"
          formControlName="city"
        />
      </div>
      <div class="input">
        <label for="inputAdress" class="label">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="Ingresa tu dirección"
          formControlName="address"
        />
      </div>
    </div>

    <div class="step3" *ngIf="step == 3" formGroupName="securityQuestions">
      <div>
        <h4 class="step">Paso {{step}} de 4</h4>
        <h5 class="label">
          Elige una pregunta de seguridad
        </h5>
      </div>
      
      <div class="form-check" *ngFor="let question of questions">
        <input
          class="form-check-input"
          type="radio"
          value={{question.IdPregunta}}
          name="questionId" 
          id="flexRadioDefault1"
          formControlName="questionId"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ question.Pregunta }}
        </label>
      </div>
    </div>

    <div class="step4" formGroupName="securityQuestions" *ngIf="step === 4">
      <h4 class="step">Paso {{step}} de 4</h4>
      <div class="input">
        <h5 class="label">
          Provee tu respuesta
        </h5>
        <input
          type="text"
          class="form-control"
          id="answer"
          placeholder="Ingresa tu respuesta"
          formControlName="answer"
        />
      </div>
    </div>

    <div class="buttons">
      <a class="btn submit" *ngIf="step != 1" (click)="previous()">Anterior</a>
      <button type="submit" class="submit" *ngIf="step != 4">Siguiente</button>
      <button type="submit" class="submit" *ngIf="step == 4">Enviar</button>
    </div>
  </div>
</form>
