<div class="container">
    <div class="title">
        <h1 class="welcome">Nueva solicitud</h1>
      </div>
    <form action="" [formGroup]="requestForm">
        <div class="input">
            <label for="inputRol" class="label">Rol de negocio</label>
            <select
              class="form-select form-control"
              aria-label="Default select example"
              placeholder="Rol de negocio"
              formControlName="roleNegId"
              (change)="getAppsByRole()"
            >
              <option #roles *ngFor="let role of roles" [value]="role.rolNegId">
                {{ role.nombre }}
              </option>
            </select>
        </div>

        <div class="input">
            <label for="inputRol" class="label">Aplicativo</label>
            <div class="form-check" *ngFor="let app of apps">
                <input
                  class="form-check-input"
                  type="radio"
                  value={{app.appId}}
                  name="appId" 
                  id="flexRadioDefault1"
                  formControlName="appId"
                />
                <label class="form-check-label" for="flexRadioDefault1" >
                    {{ app.nombreApp }}   
                </label>
            </div>
        </div>
    

        <button type="button" class="btn btn-dark" (click)="createRequest()">Solicitar</button>
    </form>
</div>
