<div class="view">
    <div class="container">
      <div class="title">
        <h1 class="welcome">Recupera tu contraseña</h1>
      </div>

        <form action="" class="form" [formGroup]="resetPassword">
        <div class="step4">
            <div class="input">
              <h5 class="label">
                Correo electrónico
              </h5>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Ingresa tu correo electrónico"
                formControlName="email"
              />
            </div>
        </div>

        

          <div class="step3">
            <div>
              <h5 class="label">
                Elige tu pregunta de seguridad
              </h5>
            </div>
            <div class="form-check" *ngFor="let question of questions">
              <input
                class="form-check-input"
                type="radio"
                value={{question.IdPregunta}}
                name="questionId" 
                id="flexRadioDefault1"
                formControlName="questionId"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                {{ question.Pregunta }}
              </label>
            </div>
          </div>
      
          <div class="step4">
            <div class="input">
              <h5 class="label">
                Provee tu respuesta
              </h5>
              <input
                type="text"
                class="form-control"
                id="answer"
                placeholder="Ingresa tu respuesta"
                formControlName="answer"
              />
            </div>
          </div>
          <button type="submit" class="submit" (click)="validate()">
            <span *ngIf="!submitted">Validar</span> 
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="submitted"></div>
        </button>
      </form>

    </div>
  </div>
  
